<tr class="song-row" data-eventsong-id="{{ eventsong.pk }}" data-song-id="{{ eventsong.song_id }}" id="song-{{ eventsong.pk }}">
    <td class="drag-handle-cell">{% if is_admin %}<span class="drag-handle" title="Drag to reorder"><span>:</span><span>:</span></span>{% endif %}</td>
    <td class="song-index">{{ eventsong.index }}</td>
    <td class="song-cell">
        <div class="song-title">{{ eventsong.song.title }}</div>
        <div class="song-subline">
            {% if eventsong.song.composer %}{{ eventsong.song.composer.first_name }} {{ eventsong.song.composer.last_name }}
            {% elif eventsong.song.arranger %}{{ eventsong.song.arranger.first_name }} {{ eventsong.song.arranger.last_name }}
            {% else %}<small>No composer</small>{% endif %}
        </div>
    </td>
    <td class="song-resources" title="Event resources for song">{{ eventsong.resources_count }}</td>
    {% if is_admin %}
    <td class="song-actions">
        <a class="btn-edit" title="Edit song" href="{% url 'syncope:song_update' url_username eventsong.song.pk %}?next={{ songs_url|urlencode }}">&#9998;</a>
        <button type="button" class="remove-song-btn" title="Remove from event">&times;</button>
    </td>
    {% endif %}
</tr>
