<form action="{% url 'secondapp:vote' rehearsal_date=rehearsal.get_url_date %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ rehearsaldate.rehearsal_subtitle }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for attendee in attendee.attendance.all %}
        <input type="radio" name="choice" id="attendance{{ forloop.counter }}" value="{{ attendance.id }}">
        <label for="attendance{{ forloop.counter }}">{{ attendee.attendance }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>