{% extends "secondapp/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
<a href="{% url 'secondapp:event_create' url_username %}">
    +</a>
<table>
    <tr>
        <th>Date</th>
        <th>Type</th>
    </tr>
    {% for event in events %}
        <tr>
            <td> <a href="{% url 'secondapp:event_update' url_username event.id %}">
                   (Edit:)
                {{ event.started_at }}
                </a>
            </td>
            <td> {{ event.event_type }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}