{% extends "secondapp/base.html" %}

{% block title %}Update{% endblock %}

{% block content %}
<h2>Update Your Event</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}




<h3>Songs</h3>
    {{ song_formset.management_form }}
    <div id="song-formset">
        {% for form in song_formset %}
            <div class="formset-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>


<h3>Attendance</h3>
    {{ attendance_formset.management_form }}
    <div id="attendance-formset">
        {% for form in attendance_formset %}
            <div class="formset-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
   <button type="submit">Update Event</button>
</form>
{% endblock %}