{% extends "secondapp/base.html" %}

{% block title %}index{% endblock %}

{% block content %}
<h1> Index.html </h1>

<!--  "HAPPENING NOW" Feature -->
{% if happening_now %}
    <div class="happening-now-banner">
        <div class="urgent-alert">
            <h2> REHEARSAL HAPPENING NOW! </h2>
            <div class="happening-details">
                <p><a href="{% url 'secondapp:rehearsal_detail' happening_now.pk %}">
                    {{ happening_now.subtitle }}</a></p>
                <p> Location: {{ happening_now.location }}</p>
                <p> Started: {{ happening_now.calendar|date:"j b Y, G:i" }}</p>
            </div>
        </div>
    </div>
{% endif %}
<h2>Upcoming rehearsals:</h2>
<div class="rehearsal-table">
    <table>
        <tr>
            <th> calendar </th>
            <th> subtitle </th>
            <th> location </th>
            <th> missing </th>
        </tr>
        {% for rehearsal in upcoming_rehearsals %}
        <tr>
            <td> {{ rehearsal.calendar|date:"j b Y, G:i" }} </td>
            <td><a href="{% url 'secondapp:rehearsal_detail' rehearsal.pk %}"> {{ rehearsal.subtitle }} </a></td>
            <td> {{ rehearsal.location }} </td>
            <td> {% for singer in rehearsal.singer_status.missing %} {{ singer.first_name }} {% endfor %}</td>
        </tr>
        {% empty %} Empty calendar.
        {% endfor %}
    </table>
</div>
<h2>Past rehearsals:</h2>
<div class="rehearsal-table">
    <table>
        <tr>
            <th> calendar </th>
            <th> subtitle </th>
            <th> location </th>
            <th> not present </th>
        </tr>
        {% for rehearsal in past_rehearsals %}
        <tr>
            <td> {{ rehearsal.calendar|date:"j b Y, G:i" }} </td>
            <td><a href="{% url 'secondapp:rehearsal_detail' rehearsal.pk %}"> {{ rehearsal.subtitle }} </a></td>
            <td> {{ rehearsal.location }} </td>
            <td> {% for singer in rehearsal.singer_status.missing %} {{ singer.first_name }} {% endfor %}</td>
        </tr>
        {% empty %} Empty calendar.
        {% endfor %}
    </table>
</div>
{% endblock %}