{% extends "secondapp/base.html" %}
{% block title %}Members{% endblock %}

{% block content %}

{{ organization.name }} – Members

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>

    {% for membership in memberships %}
    <tr>
        <td>{{ membership.person.first_name }} {{ membership.person.last_name }}</td>
        <td>{{ membership.person.email }}</td>

        <td>{{ membership.role }}</td>
        <td>
            <a href="{% url 'secondapp:org_member_edit' organization.user.username membership.person.id %}">
                Edit
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>No members yet</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
