{% extends "secondapp/base.html" %}
{% block title %}{{ role }}{% endblock %}
{% block content %}


<div class="page-header">
    <h1>{{ role }} list</h1>
</div>

<div class="action-buttons">
    <a href="{% url 'secondapp:person_form' role=role %}">
        <button type="button">Add New {{ role }}</button>
    </a>
</div>

<div class="navigation-links">
    <p>Lost? Back to rehearsals:
        <a href="{% url 'secondapp:rehearsal_list' %}">
            <button type="button">Rehearsals</button>
        </a>
    </p>
    <p>Back to songs:
        <a href="{% url 'secondapp:song_list' %}">
            <button type="button">Songs</button>
        </a>
    </p>
    <a href="{% url 'secondapp:tag' %}">
        <button type="button"># GET THEM TAGS HERE #</button>
    </a>
</div>



<div class="person-content">
    <div class="is-active">
        <h2>Active {{ role }} people:</h2>
        <ul>
            {% for person in active_people %}
                <li>
                    {{ person.first_name }} -
                    {% if person.voice %} {{ person.voice }} {% endif %}
                    <a href="{% url 'secondapp:person_detail' role=role pk=person.pk %}">View</a>
                    <a href="{% url 'secondapp:person_update' role=role pk=person.pk %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if inactive_people %}
        <div class="is-inactive">
            <h2>Inactive {{ role }} people:</h2>
            <ul>
                {% for person in inactive_people %}
                <li>
                    {{ person.first_name }} -
                    {% if person.voice %} {{ person.voice }} {% endif %}
                    <a href="{% url 'secondapp:person_detail' role=role pk=person.pk %}">View</a>
                    <a href="{% url 'secondapp:person_update' role=role pk=person.pk %}">Edit</a>
                </li>

                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

<div class="footer-actions">
    <a href="{% url 'secondapp:tag' %}">
        <button type="button">GET THEM TAGS HERE</button>
    </a>
    <br>
    <a href="{% url 'secondapp:index' %}">
        <button type="button">Index - Home</button>
    </a>
</div>

{% endblock %}