{% extends "secondapp/base.html" %}
{% block title %}{{person.pk}}|{{role}}{% endblock %}
{% block content %}

<div class="action-buttons-top">
    <a href="{% url 'secondapp:person_update' role=role pk=person.pk %}">
        <button type="button">UPDATE - EDIT</button>
    </a>
    <a href="{% url 'secondapp:person_delete' role=role pk=person.pk %}">
        <button type="button">Delete</button>
    </a>
</div>

<h3>Profile page</h3>

<div class="person-details">
    <div class="basic-info">
        <h2>{{ person.first_name }} {{ person.last_name }}</h2>
        <p><strong>Role:</strong> {{ person.voice|default:person.role }}</p>
        <p>email: {{ person.email }}</p>
        {% if person.mobile_number or person.phone_number %}
            <p>phone: {{ person.mobile_number|default:person.phone_number }}</p>
        {% endif %}

        {% if person.skill_level %}
            <p>Skill Level: {{ person.skill_level }}</p>
        {% endif %}

        {% if person.is_active is not None %}
            <p><strong>Is Active:</strong>
                {% if person.is_active %}YES{% else %}NO{% endif %}
            </p>
        {% endif %}
        {% if present or missing %}
            <h3>Rehearsal Attendance</h3>
            <h4>Present at Rehearsals ({{ present|length }}) </h4>

            <h4>Missing from Rehearsals ({{ missing|length }}) </h4>
            <ul>
                {% for rehearsal in missing %}
                    <li>{{ rehearsal.calendar }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if person.date_joined %} <p>Date Joined: {{ person.date_joined }}</p> {% endif %}
    </div>

    <div class="activity">
        {% if person.activity %}
            {% for activity in person.activity.all %}
              <li>
                {{ activity }}
                <a href="{% url 'secondapp:activity_update' role=role pk=activity.pk %}">UPDATE</a> -
                <a href="{% url 'secondapp:activity_confirm_delete' role=role pk=activity.pk %}">DELETE</a>
              </li>
            {% empty %}
                <a href="{% url 'secondapp:activity_form' role=role pk=person.pk %}">Add Activity</a>
            {% endfor %}
        {% endif %}
    </div>

    <div class="personal-info">
        {% if person.shirt_size or person.messenger or person.website %}

            <h3>Personal Information</h3>
            {% if person.shirt_size %}
            <p><strong>Shirt Size:</strong> {{ person.shirt_size }}</p>
            {% endif %}
            {% if person.messenger %}
            <p><strong>Messenger:</strong> {{ person.messenger }}</p>
            {% endif %}
            {% if person.website %}
                <p><strong>Website:</strong> <a href="{{ person.website }}">{{ person.website }}</a></p>
            {% endif %}
        {% endif %}
    </div>

    <div class="musical-background">
        <!-- <h3>Musical Background</h3> -->
        {% if person.biography %}
            <p><strong>Biography:</strong> {{ person.biography }}</p>
        {% endif %}
        {% if person.favorite_works %}
            <p><strong>Favorite Works:</strong> {{ person.favorite_works }}</p>
        {% endif %}
        {% if person.influenced_by %}
            <p><strong>Influenced By:</strong> {{ person.influenced_by }}</p>
        {% endif %}
        {% if person.awards %}
            <p><strong>Awards:</strong> {{ person.awards }}</p>
        {% endif %}
    </div>

    <div class="additional-info">
        {% if person.tags.all %}
            <p><strong>Tags:</strong> {{ person.tags.all|join:", " }}</p>
        {% endif %}
        {% if person.additional_notes %}
            <p><strong>Additional Notes:</strong> {{ person.additional_notes }}</p>
        {% endif %}
    </div>
    <div class="song">
        <table>
            <th>Songs:</th>
            {% for song in song %}
                <tr>
                    <td><a href="{% url 'secondapp:song_detail' song.pk %}"> {{ song.title }} </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="action-buttons-bottom">
    <a href="{% url 'secondapp:person_update' role=role pk=person.pk %}">
        <button type="button">UPDATE - EDIT</button>
    </a>
    <a href="{% url 'secondapp:person_delete' role=role pk=person.pk %}">
        <button type="button">Delete</button>
    </a>
</div>
{% endblock %}