{% extends "secondapp/base.html" %}
{% block title %}{{rehearsal.pk}} Rehearsal{% endblock %}
{% block content %}
<div class="rehearsal-header">
    <h1> detail of rehearsal {{rehearsal.id}} </h1>
</div>
<div class="rehearsal-info">
    <div class="basic-info">
        <p> {{ rehearsal.calendar }}</p>
        <p>{{ rehearsal.additional_notes }}</p>
    </div>
</div>
<table>
<div class="rehearsal-details">
    <div class="members-section">
        <th> Members missing </th>
            {% for member in missing %}
            <tr>
            <td> {{ member.voice }} {{ member.first_name }} </td>
            </tr>
            {% endfor %}
        <th> Members present </th>
        
        {% for member in present %}
        <tr>
                <td>{{ member.voice }} {{ member.first_name}}
                </td>
            </tr>
        {% endfor %}
            
    </div>

    <div class="songs-section">
        <th> Songs - work in progress: </th>
        {% for song in rehearsal.songs.all %}
        <tr>
        <td><a href="{% url 'secondapp:song_detail' song.pk %}"> {{ song.pk }} - {{ song.title }} </a>-
            <a href="{{ song.composer.get_absolute_url }}"> {{ song.composer }}</a></td>
        </tr>
        {% endfor %}
    </div>
    <div class="notes-section">            
        </div>
        <div class="tags-list">
            <ul>
                {% for tag in rehearsal.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</table>
<div class="action-buttons">
    <a href="{% url 'secondapp:rehearsal_update' rehearsal.pk %}">
        <button type="button">++UPDATE - EDIT++</button>
    </a>
    <a href="{% url 'secondapp:rehearsal_delete' rehearsal.pk %}">
        <button type="button">XX Delete XX</button>
    </a>

</div>

{% endblock %}
