{% extends "secondapp/base.html" %}

{% block title %}Edit{{rehearsal.pk}}{% endblock %}

{% block content %}
<a href="{% url 'secondapp:rehearsal_index' %}">Rehearsals (all)</a>
<h1>Edit rehearsal {{ rehearsal.pk }}</h1>
<form method="post">
        {% csrf_token %}
    <div>
        <label for="{{ form.subtitle.id_for_label }}">Subtitle:</label>
            {{ form.subtitle }}
            {% if form.subtitle.errors %}
                <div class="error">{{ form.subtitle.errors }}</div>
            {% endif %}
    </div>

{% endblock %}
