{% extends "secondapp/base.html" %}
{% block title %}{% if object %}Edit {{object.pk}}{% else %}Add New{% endif %}{% endblock %}
{% block content %}
<div class="form-header">
    <h1>{% if object %}Edit{% else %}Add{% endif %} Rehearsal {{rehearsal.pk}} </h1>
</div>

<div class="form-helpers">
    <div class="helper-links">
        <p>Need to add a new singer first?
            <a href="{% url 'secondapp:person_form' role='singer' %}"
               onclick="return confirm('You will lose unsaved changes. Continue?')">
                <button type="button">Add Singer</button></a>
        </p>

        <p>Need to add a new song first?
            <a href="{% url 'secondapp:song_form' %}"
               onclick="return confirm('You will lose unsaved changes. Continue?')">
                <button type="button">Add Song</button>
            </a>
        </p>
    </div>
</div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

<div class="form-navigation">
    {% if object %}
    <div class="edit-actions">
        <a href="{% url 'secondapp:rehearsal_detail' object.pk %}">
            <button type="button">Cancel Edit</button>
        </a>
        <a href="{% url 'secondapp:rehearsal_list' %}">
            <button type="button">List of rehearsals</button>
        </a>
    </div>
    {% else %}
    <div class="create-actions">
        <a href="{% url 'secondapp:rehearsal_list' %}"
           onclick="return confirm('You will lose unsaved changes. Continue?')">
            <button type="button">Cancel & Return to List</button>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}
