<html>

<head>
    <title> singers </title>
</head>

<body>

 <a href="{% url 'secondapp:index' %}">Home</a>

 <p>The following singers are available:</p>


{% for singer in singer_list %}
    <li><a href="{% url 'secondapp:singer_detail' singer.pk %}">{{ singer }}</a></li>
{% endfor %}


 <p>The following singers are NOT available:</p>

    {% for singer in singer_list %}
        <li><a href="{% url 'secondapp:singer_detail' singer.pk %}">{{ singer }}</a></li>
    {% endfor %}

</body>

</html>