{% extends "secondapp/base.html" %}
{% block title %}{{song.pk}}Song{% endblock %}
{% block content %}<br>
<a href="{% url 'secondapp:song_list' %}"><button type="button">Songs - Back</button></a>
<h1> detail of song {{ song.pk }}</h1>
<h2>{{ song.title }}</h2>
<p>Composer: {{ song.composer }}</p>
<p>Arranger: {{ song.arranger }}</p>
<p>Poet: {{ song.poet }}</p>
<p>Genre: {{ song.genre }}</p>
<p>Tags: {{ song.tags.all|join:", " }}</p>

<a href="{% url 'secondapp:song_update' song.pk %}"><button type="button">UPDATE EDIT</button></a><br><br>
<a href="{% url 'secondapp:song_delete' song.pk %}"><button type="button">Delete</button></a><br><br>
{% endblock %}