{% extends "secondapp/base.html" %}
{% block title %}{% if object %}Edit {{object.pk}}{% else %}Add New{% endif %}{% endblock %}
{% block content %}

<h1>{% if object %}Edit{% else %}Add{% endif %} Song</h1>
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<p>You are {% if object %}editing {{ object }}{{ object.pk }}{% else %}adding new {{ object }}{{ object.pk }}{% endif %}</p>
{% if object %}
    <a href="{% url 'secondapp:song_detail' object.pk %}">
        <button type="button">Cancel Edit</button>
    </a>
<br><br>
<a href="{% url 'secondapp:song_list' %}"><button type="button">List of songs</button></a>
{% else %}
    <a href="{% url 'secondapp:song_list' %}"
          onclick="return confirm('You will lose unsaved changes. Continue?')">
        <button type="button">Cancel & Return to List</button>
    </a>
{% endif %}

{% endblock %}