{% extends "secondapp/base.html" %}
{% block title %}Songs2{% endblock %}
{% block content %}

{% if membership.role == "ADMIN" %}
    <a href="{% url 'secondapp:song_form2' active_username %}"><button type="button">+ Add New Song +</button></a>
{% endif %}
<p>Here is a list of all songs:</p>
<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>composer</th>
        <th>copies</th>
    </tr>
    {% for song in songs %}
        <tr>
            <td>{{ song.pk }}</td>
            <td><a href="{% url 'secondapp:song_page' active_username song.pk %}">
                    {{ song.title }}
                </a></td>
            <td>{{ song.composer }}</td>
            <td>{{ song.number_of_copies }}</td>
        </tr>
    {% endfor %}
</table>

    {% endblock %}