{% extends "secondapp/base.html" %}
{% block title %}Songs{% endblock %}
{% block content %}<br><br>

<div>
    <a href="{% url 'secondapp:song_form' %}"><button type="button">+ Add New Song +</button></a><br><br>
</div>
<p>Here is a list of all songs:</p>
<style>
.sort-arrow {
    text-decoration: none;
    color: grey;
    padding: 0 5px;
}
.sort-arrow.active {
    color: gold;
}

/* Wrapper for content inside each th */
th {
    text-align: center;
}

th > * {
    display: inline-block;
    vertical-align: middle;
}

/* Mobile: stack arrows vertically */
@media (max-width: 767px) {
    th {
        display: table-cell; /* Keep table layout */
        vertical-align: middle;
    }
    
    th .sort-arrow {
        display: block;
        margin: 2px auto;
    }
}

/* Desktop: arrows stay inline */
@media (min-width: 768px) {
    th .sort-arrow {
        display: inline-block;
        margin: 0 3px;
    }
}
</style>
<table>
    <tr>
<th><a href="?sort_by=ID_first" class="sort-arrow {% if request.GET.sort_by == 'ID_first' %}active{% endif %}">↑</a>
    ID
    <a href="?sort_by=ID_last" class="sort-arrow {% if request.GET.sort_by == 'ID_last' %}active{% endif %}">↓</a></th>
<th><a href="?sort_by=title_A" class="sort-arrow {% if request.GET.sort_by == 'title_A' %}active{% endif %}">↑</a>
    title
    <a href="?sort_by=title_Z" class="sort-arrow {% if request.GET.sort_by == 'title_Z' %}active{% endif %}">↓</a></th>
<th><a href="?sort_by=composer_A" class="sort-arrow {% if request.GET.sort_by == 'composer_A' %}active{% endif %}">↑</a>
    composer
    <a href="?sort_by=composer_Z" class="sort-arrow {% if request.GET.sort_by == 'composer_Z' %}active{% endif %}">↓</a></th>
<th>copies</th>
    </tr>
{% for song in song_list %}
    <tr>
        <td> {{ song.pk }} </td>
        <td><a href="{% url 'secondapp:song_detail' song.pk %}"> {{ song.title }} </a></td>
        <td> <a href="{{ song.composer.get_absolute_url }}">{{ song.composer.last_name }} {{song.composer.first_name }}</a> </td>
        <td>{{ song.number_of_copies }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}